/build
*.pyc
/node_modules
/package.json
/package-lock.json
/cache
*.lyx~
/export
\#*.lyx\#
/.hypothesis
.build
venv
/hardhat.config.js
.idea
.python-version
.env
/.env-*

# Certora
.certora*
resource_errors.json
last_conf*
certora*.txt
.zip-output-url.txt
